<div class="page cover" data-page="1">
    <h1><%= config.title %><br>HANDBOOK</h1>
    <div class="subtitle"><%= config.subtitle %></div>
    <p style="margin-top: 20px;">2025 EDITION | <%= config.author %> | 零基础友好</p>
</div>